body {
    background-color: #121212;
    color: rgb(235, 235, 235); 
}
.vaade {
    position: relative;
    text-align: center;
}
.taustapilt {
    width: 100%;
    height: auto;
    display: block;
}

/* Keyframes ja animatsiooni sätted üles-alla liikumiseks tiitlil*/
@keyframes hõlju {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.tiitliPilt img {
    position: absolute;
    top: 230px;
    left: 230px;
    animation: hõlju 3s infinite ease-in-out; 
    transition: transform 0.2s ease;
}

.tiitliPilt img.clicked {
    animation: none;
}

.sektsioon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding-left: 60px;
    padding-right: 60px;
}

.tekstipool {
    flex: 1;
}

.tekstipool h2 {
    font-family: 'Minecraft', sans-serif;
    font-size: 2rem;
}
.tekstipool p {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

.meediapool {
    flex: 1;
    display: flex;
    justify-content: center;
}

.meediapool img{
    width: 80%;
    height: auto;
}

.sektsioonivahe {
    border: none;    
    border-top: 2px solid #333;
    margin: 40px 0;       
}

.treiler-tiitel {
    font-family: 'Minecraft', sans-serif;
    font-size: 4rem;
    margin-bottom: 30px;
}