.navigatsiooniMenu {
    display: flex;
    background-color: #6b6b6b;
}
.navigatsiooniMenu ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}
.navigatsiooniMenu ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
.navigatsiooniMenu ul li a:hover {
background-color: #555;
}